body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
  max-width: 1600px;
  color: white;
}

.menu {
  height: 115px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 67px;
  height: 67px;
  background-color: rgb(17,116,158);
  box-shadow: 12px 9px rgba(255,255,255,0.5);
  display: inline-block;

  p {
    font-size: 31px;
    margin: 0;
  }
}

.nav {
  display: inline-block;

  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    li {
      padding: 0 30px;
      font-size: 20px;

      img {
        background-color: black;
        padding: 5px;
      }
    }
  }
}



.main{
  height: 880px;
  background-image: url("../img/bg1.jpg");
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  h2{
    font-size: 25px;
    color: rgb(17,116,158);
    text-transform: uppercase;
    letter-spacing: 20px;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-size: 152.54px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

#features {
  height: 740px;
  background-color: rgb(17,116,158);
}

.ft_title{
  height: 300px;
  padding: 0;
}

.w {
  position: relative;
  font-size: 247px;
  color: rgb(60,141,175);
  z-index: 1;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
}

.awesome {
  font-size: 36px;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  margin-top: -240px;
}

.features{
  height: 440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  height: 275px;
  width: 255px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  p {
    font-size: 15px;
    margin: 0;

  }
}

.circle {
  width: 135px;
  height: 135px;
  background-color: rgb(46,133,170);
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
