body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
  max-width: 1600px;
  color: white;
}

.menu {
  height: 115px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 67px;
  height: 67px;
  background-color: rgb(17,116,158);
  box-shadow: 12px 9px rgba(255,255,255,0.5);
  display: inline-block;

  p {
    font-size: 31px;
    margin: 0;
  }
}

.nav {
  display: inline-block;

  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    li {
      padding: 0 30px;
      font-size: 20px;

      img {
        background-color: black;
        padding: 5px;
      }
    }
  }
}



.main{
  height: 880px;
  background-image: url("../img/bg1.jpg");
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  h2{
    font-size: 25px;
    color: rgb(17,116,158);
    text-transform: uppercase;
    letter-spacing: 20px;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-size: 152.54px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

#features {
  height: 740px;
  background-color: rgb(17,116,158);
}

.ft_title{
  height: 300px;
  padding: 0;
}

.w {
  position: relative;
  font-size: 247px;
  color: rgb(60,141,175);
  z-index: 1;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
}

.awesome {
  font-size: 36px;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  margin-top: -240px;
}

.features{
  height: 440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  height: 275px;
  width: 255px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  p {
    font-size: 15px;
    margin: 0;

  }
}

.circle {
  width: 135px;
  height: 135px;
  background-color: rgb(46,133,170);
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pages {
  height: 920px;
  display: flex;
  flex-flow: row wrap;

  div {
    width: 800px;
    height: 460px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.page1 {
  box-sizing: border-box;
  background-color: rgb(34,34,34);
  padding: 80px 115px 0 215px;
  line-height: 1.5;

  h3 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}

.page4 {
  box-sizing: border-box;
  background-color: rgb(243,243,243);
  color: rgb(34,34,34);
  padding: 100px 250px 0 80px;
  line-height: 1.5;
}

.over_header {
  font-size: 13px;
}

.blog {
  height: 1016px;
  color: rgb(34, 34, 34);
  background-color: white;
}

.blog_title {
  padding-top: 80px;

  .b {
    font-size: 247px;
    color: rgb(215,215,215);
    position: relative;
    margin: 0;
    text-align: center;
  }

  h2{
    font-size: 37px;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
    margin-top: -170px;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
  }
}

.blog_pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 80px;

  div {
    width: 270px;
    height: 510px;
    padding: 15px;

    h4 {
      color: rgba(17,116,158,0.9);
      font-size: 18px;
      text-align: center;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 15px;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.under_blog {
  background-color: rgb(17,116,158);
  height: 355px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  div {
    width: 555px;
    height: 90px;
    padding: 0 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    img {
      margin-right: 25px;
      float:left;
    }

    p {
      width: 455px;
      margin: 0;
      line-height: 1.5;
      display: inline-block;
      color: rgba(255,255,255,0.7);
    }
  }
}

.tutorials {
  background-image: url("../img/bg7.jpg");
  background-position: -5%;
  height: 850px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .smartfone {
    height: 651px;
    margin-right: 290px;
  }
}

.text_tutorials {
  width: 470px;
  margin-left: 225px;

  h3 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    color: rgba(255,255,255,0.7);
    margin-bottom: 60px;
  }

  h4 {
    font-size: 15px;
    background-color: rgb(17,116,158);
    display: inline-block;
    padding-left: 19px;
    padding-top: 14px;
    padding-bottom: 13px;
    margin: 12px 0;
  }
}

.design {
  padding-right: 135px;
}

.code {
  padding-right: 219px;
}

.defferent {
  padding-right: 159px;
}

.team {
  height: 945px;
  background-color: white;
}

.header_team {
  color: rgb(34, 34, 34);

  .t {
    font-size: 247px;
    color: rgb(215,215,215);
    position: relative;
    margin: 0;
    text-align: center;
  }

  h2{
    font-size: 37px;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
    margin-top: -170px;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    color: rgba(34, 34, 34, 0.8);
  }
}

.foto_team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.teammate {
  color: black;
  text-align: center;
  padding: 0 15px;
}

.portret {
  width: 270px;
  height: 414px;
  color: rgb(17,116,158);
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;

  img {
    width: auto;
    height: 115%;
    margin: 0 0 0 -50px;
  }

  div {
    height: 48px;
    width: 216px;
    color: rgb(17,116,158);
    font-size: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 27px;
    margin: 0;
  }
}

.position {
  margin: 0;
  font-size: 15px;
}

.contact {
  height: 850px;
  background-image: url("../img/bg14.jpg");
}

.header_contact {
  padding-top: 100px;

  .c {
    font-size: 247px;
    color: rgba(215,215,215,0.3);
    position: relative;
    margin: 0;
    text-align: center;
  }

  h2{
    font-size: 37px;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
    margin-top: -170px;
  }
}

.form {
  padding-top: 170px;

}

.submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  .small_form {
    width: 370px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    margin: 0 12px 0 12px;
  }

  .big_form {
    width: 1170px;
    height: 150px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    margin-top: 40px;
  }
}

::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
}

.button {
  background-color: rgb(17,116,158);
  height: 65px;
  width: 225px;
  color: white;
  font-size: 24px;
  margin-top: 45px;
  border: none;
}