@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot") format("embedded-opentype"), url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.eot");
  src: url("../fonts/GothamMedium.eot") format("embedded-opentype"), url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff"), url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
}
@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.eot");
  src: url("../fonts/GothamBook.eot") format("embedded-opentype"), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype"), url("../fonts/GothamBook.svg#GothamBook") format("svg");
}
@font-face {
  font-family: "robotoboldcondensed";
  src: url("../fonts/robotoboldcondensed.eot");
  src: url("../fonts/robotoboldcondensed.eot") format("embedded-opentype"), url("../fonts/robotoboldcondensed.woff2") format("woff2"), url("../fonts/robotoboldcondensed.woff") format("woff"), url("../fonts/robotoboldcondensed.ttf") format("truetype"), url("../fonts/robotoboldcondensed.svg#robotoboldcondensed") format("svg");
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg#MyriadProRegular") format("svg");
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  font-family: "GothamBook", sans-serif;
  width: 1600px;
  color: white;
}

.menu {
  height: 115px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 67px;
  height: 67px;
  background-color: #11749e;
  box-shadow: 12px 9px rgba(255, 255, 255, 0.5);
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.icon p {
  font-size: 31px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav {
  display: inline-block;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.nav ul li {
  padding: 0 30px;
  font-size: 20px;
  font-family: "MyriadProRegular", sans-serif;
}
.nav ul li img {
  background-color: black;
  padding: 5px;
}

.main {
  height: 880px;
  background-image: url("../img/bg1.jpg");
  margin: 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main h2 {
  font-size: 25px;
  color: #11749e;
  text-transform: uppercase;
  letter-spacing: 20px;
  padding: 0;
  margin: 0;
  font-family: "GothamMedium", sans-serif;
}

h1 {
  font-size: 152.54px;
  font-family: "GothamBold", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: whitesmoke;
}

#features {
  height: 740px;
  background-color: #11749e;
}

.ft_title {
  height: 300px;
  padding: 0;
}

.w {
  position: relative;
  font-size: 247px;
  color: #3c8daf;
  z-index: 1;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
  font-family: "robotoboldcondensed", sans-serif;
}

.awesome {
  font-size: 36px;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  margin-top: -235px;
  font-family: "GothamMedium", sans-serif;
}

.features {
  height: 440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  height: 275px;
  width: 260px;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.feature h3 {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "GothamMedium", sans-serif;
}
.feature p {
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.circle {
  width: 135px;
  height: 135px;
  background-color: #2e85aa;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pages {
  height: 920px;
  display: flex;
  flex-flow: row wrap;
}
.pages div {
  width: 800px;
  height: 460px;
  overflow: hidden;
}
.pages div img {
  width: 100%;
}

.page1 {
  box-sizing: border-box;
  background-color: #222222;
  padding: 80px 115px 0 215px;
  line-height: 1.5;
}
.page1 h3 {
  font-size: 25px;
  font-family: "GothamMedium", sans-serif;
}
.page1 p {
  font-size: 15px;
}

.page4 {
  box-sizing: border-box;
  background-color: #f3f3f3;
  color: #222222;
  padding: 100px 250px 0 80px;
  line-height: 1.5;
}
.page4 h3 {
  font-size: 25px;
  font-family: "GothamMedium", sans-serif;
}
.page4 p {
  font-size: 15px;
}

.over_header {
  font-size: 13px;
}

.blog {
  height: 1016px;
  color: #222222;
  background-color: white;
}

.blog_title {
  padding-top: 80px;
}
.blog_title .b {
  font-size: 247px;
  color: #d7d7d7;
  position: relative;
  margin: 0;
  text-align: center;
  font-family: "robotoboldcondensed", sans-serif;
}
.blog_title h2 {
  font-size: 37.55px;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  margin-top: -170px;
  font-family: "GothamMedium", sans-serif;
  color: #222222;
}
.blog_title h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  color: #222222;
}

.blog_pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 80px;
}
.blog_pages div {
  width: 270px;
  height: 510px;
  padding: 15px;
}
.blog_pages div h4 {
  color: rgba(17, 116, 158, 0.9);
  font-size: 18px;
  text-align: center;
  font-family: "GothamMedium", sans-serif;
}
.blog_pages div img {
  width: 100%;
}
.blog_pages div p {
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.under_blog {
  background-color: #11749e;
  height: 355px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.under_blog div {
  width: 555px;
  height: 90px;
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.under_blog div img {
  margin-right: 25px;
  float: left;
}
.under_blog div p {
  width: 455px;
  margin: 0;
  line-height: 1.5;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
}

.tutorials {
  background-image: url("../img/bg7.jpg");
  background-position: -5%;
  height: 850px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.tutorials .smartfone {
  height: 651px;
  margin-right: 290px;
}

.text_tutorials {
  width: 470px;
  margin-left: 225px;
}
.text_tutorials h3 {
  font-size: 25px;
  margin-bottom: 40px;
  font-family: "GothamMedium", sans-serif;
}
.text_tutorials p {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
}
.text_tutorials h4 {
  font-size: 15px;
  background-color: #11749e;
  display: inline-block;
  padding-left: 19px;
  padding-top: 14px;
  padding-bottom: 13px;
  margin: 12px 0;
  font-family: "GothamMedium", sans-serif;
}

.design {
  padding-right: 135px;
}

.code {
  padding-right: 219px;
}

.defferent {
  padding-right: 159px;
}

.team {
  height: 945px;
  background-color: white;
}

.header_team {
  color: #222222;
}
.header_team .t {
  font-size: 247px;
  color: #d7d7d7;
  position: relative;
  margin: 0;
  text-align: center;
  font-family: "robotoboldcondensed", sans-serif;
}
.header_team h2 {
  font-size: 37px;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  margin-top: -170px;
  font-family: "GothamMedium", sans-serif;
}
.header_team h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 130px;
  color: rgba(34, 34, 34, 0.8);
}

.foto_team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.teammate {
  color: black;
  text-align: center;
  padding: 0 15px;
  font-family: "GothamMedium", sans-serif;
}

.portret {
  width: 270px;
  height: 414px;
  color: #11749e;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.portret img {
  width: auto;
  height: 115%;
  margin: 0 0 0 -50px;
}
.portret div {
  height: 48px;
  width: 216px;
  color: #11749e;
  font-size: 20px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 27px;
  margin: 0;
}

.position {
  margin: 0;
  font-size: 15px;
}

.contact {
  height: 850px;
  background-image: url("../img/bg14.jpg");
}

.header_contact {
  padding-top: 100px;
}
.header_contact .c {
  font-size: 247px;
  color: rgba(215, 215, 215, 0.3);
  position: relative;
  margin: 0;
  text-align: center;
  font-family: "robotoboldcondensed", sans-serif;
}
.header_contact h2 {
  font-size: 37px;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  margin-top: -170px;
  font-family: "GothamMedium", sans-serif;
}

.form {
  padding-top: 170px;
}

.submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.submit .small_form {
  width: 370px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 15px;
  margin: 0 12px 0 12px;
}
.submit .big_form {
  width: 1170px;
  height: 150px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 15px;
  margin-top: 40px;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
}

.button {
  background-color: #11749e;
  height: 65px;
  width: 225px;
  color: white;
  font-size: 24px;
  margin-top: 45px;
  border: none;
  font-family: "GothamMedium", sans-serif;
}

footer {
  height: 110px;
  background-color: #222222;
  font-size: 13px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0 0 0 220px;
  color: rgba(226, 226, 226, 0.8);
  font-family: "Roboto", sans-serif;
}
footer img {
  margin: 0 220px 0 0;
}

/*# sourceMappingURL=style.css.map */
